body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  text-transform: none;

  background-color: #ffffff;

  /* Временно для сетки */
  /*background-image: url("img/nerds-index.jpg");*/
  /*background-size: 1372px auto;*/
  /*background-repeat: no-repeat;*/
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover {
  background-color: #e74246;
}

.button:focus,
.button:active {
  color: #e07476;
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0,0,0,0.1);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
/*ХЭДЭР*/
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.main-header-logo
.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:focus,
.user-navigation a:focus {
  color: #bdbdbd;
}

/*СЛАЙДЕР*/
.main-slider {
  background-color: #eeeeee;
}

.slider-list {
  list-style: none;
}

.slider-item {
  text-align: left;
}

.slider-item-item h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

/*НАШИ ПРЕИМУЩЕСТВА*/
.feature-list {
  list-style: none;
}

.feature-item {
  text-align: left;
}

.feature-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
}

/*О НАС*/
.what-we-can {
  text-align: left;
}

.what-we-can h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.order {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.orders-list {
  list-style: none;
}

.qualities-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.qualities-percentages-list,
.qualities-list{
  list-style: none;
}

.qualities-percentages-list {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.qualities-list {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

/*ПАРТНЕРЫ*/
.partners-list {
  list-style: none;
}

/*СТРАНИЦА КАТАЛОГА*/
.site-navigation-current a {
  border-bottom: 1px solid #fb565a;
}

/*MAIN catalog*/
.page-title-wrapper {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  background-color: #eeeeee;
}
.page-title {
  display: flex;
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;

  padding-top: 78px;
  padding-bottom: 108px;
  padding-left: 215px;
  padding-right: 215px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.filter ul {
  list-style: none;
  line-height: 20px;
}

.filter-input {
  color: #c4c4c4;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #4d4d4d;
}

.filter-input:disabled + label {
  color: #ededed;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}
.item-price {
  text-align: center;
  background-color: #eeeeee;
}

.item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.item-price p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;

  background-color: #eeeeee ;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #dfdfdf;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/*КОНТАКТЫ*/
.contacts-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.address {
  font-size: 16px;
  line-height: 18px;
}

/*FOOTER*/
.footer-social-list {
  list-style: none;
}

.offer {
  text-align: left;
}

.offer h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.offer p {
  font-size: 16px;
  line-height: 22px;
}

/*MODAL WRITE_US*/
.write-us-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.user-name-title{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.user-email-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.feedback-title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}
.feedback-item input,
.feedback-item textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #b1b1b1;

  border: 2px solid #d7dcde;
}

.write-us-form input[type="text"],
.write-us-form textarea {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #b1b1b1;

  border: 2px solid #d7dcde;
}
/*почему-то не работает изменение текста при наведении*/
.write-us-form input:hover,
.write-us-form textarea:hover {
  border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: #444444;
  border-color: #000000;
}

/* ДЛЯ СЕТКИ*/
/*.site-wrapper {*/
  /*width: 1160px;*/
  /*margin: 0 auto;*/
  /*padding: 0;*/
/*}*/

header {
  outline: 1px dotted red;
}

.main-header {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  background-color: #eeeeee;
  /* Временно для сетки */
  /*min-height: 120px;*/
}

.main-navigation {
  display: flex;
  align-items: flex-end;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  /*padding-top: 50px;*/
  /* Временно для сетки */
  outline: 1px solid orange;
  /*min-height: 120px;*/
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}
.main-header-logo {
  width: 160px;
  height: 65px;
  margin: 0;
  margin-right: 200px;
  margin-top: 49px;
  padding: 0;

  /* Временно для сетки */
  /*display: block;*/
}

.main-header-logo:hover {
  opacity: 0.8;
}


.main-header-logo:focus {
  opacity: 0.3;
}

.site-navigation {
  display: flex;

  margin: 0;
  margin-right: 240px;
  padding: 0;
  padding-bottom: 9px;

  list-style: none;

  /* Временно для сетки */
  /*min-height: 70px;*/
  outline: 1px solid orange;
}

.site-navigation li {
  margin-right: 46px;

  outline: 1px solid yellow;
}

.site-navigation li:last-child {
  margin-right: 0px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;

  list-style: none;
  /* Временно для сетки */
  /*min-height: 70px;*/
  outline: 1px solid orange;
}

.user-navigation li {
  margin: 0;
  padding: 0;
  padding-left: 46px;
}

/*MAIN*/
.main {
  outline: 1px dotted red;
}

.main-slider {
}

.advantages {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  margin-bottom: 38px;

  min-height: 350px;
  list-style: none;
  outline: 1px solid orange;
  border-bottom: 2px solid #eeeeee;
}

.feature-list {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 350px;
  outline: 1px solid yellow;
}

.feature-item {
  /*display: flex;*/
  /*flex-direction: column;*/
  margin: 0;
  padding: 0;
  outline: 1px solid green;
}

.feature-item h3 {
  margin: 0;
  padding: 0;
  margin-top: 17px;

  text-transform: uppercase;
}

.feature-item p {
  display:block;
  width: 250px;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  margin-top: 16px;
}

.applications {
  margin:0;
  padding: 0;
  margin-right: 100px;
  margin-left: 100px;
}

.feature-button {
  display: block;
  box-sizing: border-box;
  width: 160px;
  padding: 16px 40px;
  /*padding-top: 16px;*/
  /*padding-bottom: 16px;*/
}
.button-green {
  background-color: #00ca74;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:focus,
.button-green:active {
  color:#74c69c;
  background-color: #00aa62;
}

.button-yellow {
  background-color: #efc84a;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:focus,
.button-yellow:active {
  color: #edc47f;
  background-color: #e5a722;
}
.about-us {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;

  list-style: none;
  outline: 1px solid orange;
  border-bottom: 2px solid #eeeeee;
}

.what-we-can {
  display: block;
  width: 660px;
  padding: 0;
  margin: 0;
  margin-right: 140px;
  outline: 1px solid yellow;
}

.what-we-can h3 {
  padding: 0;
  margin: 0;
  padding-top: 35px;
  margin-bottom: 30px;
}

.what-we-can p {
  padding: 0;
  margin: 0;
}

.what-we-can .order {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.orders-list {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  padding-left: 35px;
  outline: 1px solid green;
}

.orders-list li::before {
  content: "";
  position: absolute;
  left: 0px;
  margin-top: 12px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.orders-item {
  padding: 0;
  padding-right: 5px;
  margin: 0;
  margin-bottom: 23px;
  outline: 1px solid blue;
}

.our-qualities {
  display: block;
  width: 360px;
  padding: 0;
  margin: 0;

  outline: 1px solid yellow;
}

.qualities-title {
  padding: 0;
  margin: 0;
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 5px;
}

.qualities-percentages-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

.qualities-percentages-list li {
  padding: 0;
  margin: 0;
  margin-right: 20px;
}
.qualities-percentages-list span {
  font-size: 28px;
}

.qualities-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 13px;
}

.qualities-list li {
  padding: 0;
  margin: 0;
  margin-right: 26px;
}

.partners {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  outline: 1px solid orange;
  border-bottom: 2px solid #eeeeee;
}

.partners-list {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  outline: 1px solid yellow;
}

.partners-list li {
  position: relative;
  display: block;
  width: 260px;
  margin-top: 45px;
  box-sizing: border-box;
  outline: 1px solid green;


}


.html-academy  {
  margin: 0;
  margin-right: 40px;
  padding-left: 30px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.barbershop {
  margin: 0;
  margin-right: 40px;
  padding-top: 0px;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.pink {
  margin: 0;
  margin-right: 40px;
  padding-left: 35px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.mishka {
  margin: 0;
  padding: 0;
  padding-left: 45px;
  padding-top: 5px;
}

.partner a{
  opacity: 0.2;
}

.partner a:hover {
  opacity: 1;
}

.partner a:focus,
.partner a:active {
  opacity: 0.1;
}

.partners-list li::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 15px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  opacity: 1;
  z-index: 1;
}


.partners-list li:last-child::before {
 display: none;
}

.map {
  position: relative;
  height: 420px;
  outline: 2px solid #a82145;
  background-image: url(../img/map.jpg);
}

.contacts {
  position: absolute;
  top: 54px;
  left: 50%;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;

  margin: 0;
  margin-left: -580px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 47px;

  background-color: #ffffff;
}

.contacts-title {
  padding: 0;
  padding-right: 5px;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.address {
  padding: 0;
  margin: 0;
  margin-top: 23px;
  margin-bottom: 0;
  padding-right: 15px;
}

.phone {
  margin:0;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 35px;
  padding-right: 15px;
}

.contacts-button {
  display: block;
  box-sizing: border-box;
  width: 220px;
  padding: 16px 40px;
  /*padding-top: 16px;*/
  /*padding-bottom: 16px;*/
}

.main-footer {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 47px;

  outline: 1px solid red;
}

.footer-social {
  width: 380px;
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
  padding-top: 70px;
  outline: 1px solid orange;
}

.footer-social-list {
  display: flex;

  padding: 0;
  margin: 0;
  outline: 1px solid yellow;
}

.footer-social-list li {

  outline: 1px solid green;
  box-sizing: border-box;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  padding: 0;
  padding-left: auto;
  padding-right: auto;
  margin: 0px;
  margin-right: 12px;
}

.vk-button {
  display: inline-block;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 27px;
  padding-right: 26px;
}

.fb-button {
  display: inline-block;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 29px;
  padding-left: 34px;
  padding-right: 33px;
}

.insta-button {
  display: inline-block;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 29px;
  padding-left: 27px;
  padding-right: 26px;
}

.footer-social-list li:hover {
  background-color: #e74246;

}

.footer-social-list li:focus {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0px rgba(0,0,0,0.3);
}

.social-button path,
.social-button:hover path,
.social-button:active path{
  fill: #ffffff;
}
.social-button:focus path{
  fill: #e37376;
}

.offer {
  display: block;
  margin: 0;
  padding: 0;
  padding-top: 72px;
}

.offer h3 {
  padding: 0;
  padding-right: 5px;
  margin-top: 0;
  margin-bottom: 10px;
}

.offer p {
  padding: 0;
  padding-right: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

.write-us {
  display: block;
  width: 960px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.75);
  outline: 1px dotted red;
}

.write-us-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 960px;
  margin: 0;
  padding-top: 72px;
  padding-right: 100px;
  padding-bottom: 85px;
  padding-left: 100px;
  outline: 1px dotted orange;
}

.write-us-title {
  padding: 0;
  margin: 0;
}

.modal-close {
  width: 28px;
  height: 24px;

  padding: 0;
  margin: 0;
}

.login-wrapper {
  display: flex;
  box-sizing: border-box;
  width: 760px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 37px;
  outline: 1px dotted yellow;
}

.feedback-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px dotted green;
}

.login-wrapper p {
  width: 360px;
  padding: 0;
  margin: 0;
  outline: 1px dotted green;
}

.login-wrapper p:first-child {
  margin-right: 40px;
}

.user-name-title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.user-email-title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.user-name,
.user-email {
  padding: 16px 15px;
  margin: 0;
}

.feedback-title {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.feedback {
  font-family: inherit;
  padding: 16px 15px;
  margin: 0;
}

.write-us-button {
  width: 260px;
  padding: 16px;
  margin: 0;
  margin-top: 47px;
  text-align: center;
}

/*КАТАЛОГ*/
.catalog-columns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.filters {
  width: 260px;

  /* Временно для сетки */
  min-height: 778px;
}
.filter fieldset {
  margin: 0;
  padding: 0;

}

.catalog {
  width: 760px;

  /* Временно для сетки */
  min-height: 2025px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-item {
  width: 360px;
  box-sizing: border-box;
  margin-right: 40px;
  margin-bottom: 33px;

  /* Временно для сетки */
  min-height: 285px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.item-header {
  display: block;
  width: 360px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: #e9e9e9;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 400px;
  margin-bottom: 27px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}


